.font-adj{
    font-size: 14px !important; font-weight: 900;
    padding: 16px 15px 13px 0px !important;
}
.vdo{
    position: relative;
    top: 29%;
    padding: 100px 5px 100px 5px;
}


.head-adj{
    padding: 0px 97px 0px 58px;
}
@media only screen and (max-width: 768px) {
    .head-adj{
        padding: 0px 21px 1px 24px !important
    }
}

.contact-font{
    font-size: 18px;
    position: relative;top: 31px;left:5px;
}
@media only screen and (max-width: 1200px) {
    .contact-font{
        font-size: 14px;
    }
    #phone{
        position: relative;
        left:-47px
    }
    #adj-pos{
        margin-top: 50px !important;
    }
    .full-image figcaption {
        display: block !important;
        position: absolute !important;
        bottom: 0 !important;
        width: 100% !important;
        text-align: center !important;
        line-height: 1.8 !important;
        white-space: normal !important;
        color: #ccc !important;
        background-color: #000 !important;
        background-color: rgba(0,0,0,.6) !important;
        font-family: sans-serif;

        left: 0 !important;
         top: 68% !important;
    }
    .full-image figure {
        display: inline !important;
        margin: 0 !important;
        height: 100% !important;
        position: initial !important;
    }
}
